<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pytreedb</title>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/data-tree.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/data-tree.js"></script>
    <script type="text/javascript">

        window.onload = function() {

            $('<img/>').attr("src","https://heibox.uni-heidelberg.de/f/d9a593a4dc2049d99bca/?dl=1").
            width("100px").height("45.6px").appendTo("#logo_3dgeo");
            $('#logo_3dgeo').parent().css({position:'relative'});
            $('#logo_3dgeo').css({top: 10, left: 480, position:'absolute'});
            //$('#logo_3dgeo').wrap("<a href='https://www.geog.uni-heidelberg.de/3dgeo/index.html' </a>");

            $('<img/>').attr("src","https://www.ifgg.kit.edu/img/logos/IFGG_short_fat3.svg").
            width("250px").height("114px").appendTo("#logo_ifgg");
            $('#logo_ifgg').parent().css({position:'relative'});
            $('#logo_ifgg').css({top: 10, left: 300, position:'absolute'});
            //$('#logo_ifgg').wrap("<a href='https://www.ifgg.kit.edu/index.php' </a>");

            $.get('/stats', function (data) {
                $("#num_trees").html(data["n_trees"]);
                $("#num_species").html(data["n_species"]);
            });

            $.get('/listspecies', function (data) {
                for (spec of data['species']){
                    $("#listspecies").append('<li>' + spec + '</li>');
                }
            });

            $.get('/sharedproperties', function (data) {
                for (prop of data['properties']){
                    $("#sharedproperties").append('<li>' + prop + '</li>');
                    $("#sharedproperties_datalist").append('<option>' + prop + '</option>');
                }
            });

        };

        function searchDB() {
            var property = $("#property").val();
            var value = $("#value").val();
            if (property != '' && value != ''){

                $("#results").html("loading...");

                $.get("/trees?field=" + property + "&value=" + value, function (data) {
                    $("#results").html("");
                    $("#num_found").html(data["query"].length);
                    data["query"].forEach(function (tree, id) {
                        if(id < 10) {
                            $("#results").append(`<br /><div id="results-${id}">  </div>`);
                            new DataTree({
                                json: tree,
                                container: `#results-${id}`,
                                attrs: 'show',
                                attrsAsClasses: true,
                            });
                        }
                    });
                });

            } else {
                $("#results").html(""); // empty list
            }
        }

        let dt;

        function getItem() {
            var idx = $("#idx").val();
            if (idx != ''){

                //$("#results_tree").html("loading...");

                $.get("/getitem?index=" + idx, function (data) {
                    //$("#results_tree").html(data["item"]);
                    //$("#results_tree").html("");
                    dt = new DataTree({
                        json: data,
                        container: "#results_tree",
                        attrs:'show',
                        attrsAsClasses:true,

                    });

                });

            }
        }
    </script>
</head>
<body>
<h1>Welcome to pytreedb</h1>

<div id="logo_3dgeo"> </div>
<div id="logo_ifgg"> </div>

<p>Here you can query the pytreedb running on {{ server }}</p>

<div><b>Statistics:</b><br />
Number of trees: <div id="num_trees"></div> <br />
Number of species: <div id="num_species"></div> <br />
List of species:
    <ul id="listspecies">
    </ul>
List of shared properties:
    <ul id="sharedproperties">
    </ul>
</div>
<br />

<h2>Get item by index!</h2>
<div>
    <label for="idx">Index:</label><input type="text" id="idx"> <br />
    <button onclick="getItem();">Get</button>
</div>

<div id="results_tree">

</div> <br/>

<h2>Search the DB!</h2>
<div>
    <label for="property">Field:</label><input type="text" id="property" oninput="searchDB()" list="sharedproperties_datalist"> <br />
    <datalist id="sharedproperties_datalist">
    </datalist>
    <label for="value">Value:</label><input type="text" id="value" oninput="searchDB()"> <br />
    <button onclick="searchDB();">Search</button>
    <br />
    <div id="num_found">0</div> trees found.
</div>

<div id="results">

</div>

</body>
</html>