html, body
{
    height: 100%;
}

.navbar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav-link {
    font-weight: 700;
}

.navbar-brand {
    font-weight: 700; 
    font-size: x-large; 
    font-family: 'Poppins', sans-serif; 
    color: #505050;
}

.dropdown-toggle::after {
    pointer-events: none;
    content: "";
    display: inline-flex;
    position: relative;
    z-index: 1;
    border: solid #606060;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 0 auto 0 5px;
}

.dropdown-menu {
    min-width: 3rem;
}

#showSpecies {
    margin-top: 50px; 
    vertical-align: middle; 
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

#showSpecies:hover {
    color: #ffffff;
}

#showSpecies::after, #showSpecies:hover::after {
    content: "";
    display: inline-block;
    z-index: 1;
    border: solid rgba(255, 255, 255, 0.7);
    border-width: 0 15px 15px 0;
    padding: 15px;
    margin-left: 5px;
    transform: rotate(-45deg) translateX(-50%) translateY(0.35rem);
}

#showSpecies:hover::after {
    border: solid rgba(255, 255, 255, 1);
    border-width: 0 15px 15px 0;
}

#backToWelcome {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
}

#backToWelcome::after, #backToWelcome:hover::after {
    content: "";
    display: inline-block;
    z-index: 1;
    border: solid rgba(255, 255, 255, 0.7);
    border-width: 10px 0 0 10px;
    padding: 10px;
    margin-left: 5px;
    transform: rotate(-45deg) translateX(-50%) translateY(0.35rem);
    cursor: pointer;
}

#backToWelcome:hover::after {
    border: solid rgba(255, 255, 255, 1);
    border-width: 10px 0 0 10px;
}   

#picDiv {
    display: block;
    height: calc(100% + 50px);
    background-color: #206623;
    background-image: url('../img/EjbXdeCWsAMUEZ9.jpg');
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    margin: -15px -20px;
    z-index: -1;
}

#gradientOverlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(83, 172, 42, 0.5), rgba(34, 83, 14, 1));
    z-index: -1;
}

.clearfix{ 
    position: relative;
    display: inline-block;
    width: 200%;
    height: 420px;
    overflow: hidden;
 }

#welcome {
    position: relative;
    width: 50%;
    top: 25%;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    white-space: nowrap;
    float: left;
}

#speciesContainer {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
}

#species {
    color: #ffffff; 
    margin-top: 6rem;
    margin-left: 3rem;
}

p {
    font-size: large;
}

::placeholder {
    color: #808080;
}

b.func {
    font-size: large;
}

input {
    margin-bottom: 1rem;
    width: 100%;
}

button {
    float: right;
}

pre {
    border: solid; 
    border-width: 1px; 
    border-color: #808080; 
    height: 100%;
    position: relative; 
    overflow-y: scroll;
    background-color: #ffffff;
}

.btn-light {
    padding: 2px .5rem;
}

#jsonSnippetContainer, #numResContainer {
    display: none;
}

#searchField, #fieldValue {
    color: #aaa;
}

#searchField, #searchField + ul,
#fieldValue, #fieldValue + ul {
    width: 100%;
    text-align: left;
}

#searchField::after,
#fieldValue::after {
    position: absolute;
    right: .5rem;
    border-width: 0 1px 1px 0;
    margin-top: 7px;
}

.searchbar {
    min-width: 225px;
}

ul#availableValues {
    max-height: 200px;
    overflow: auto;
}




/* lg */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 2rem;
        padding-right: 2rem;
    }  
}

/* md-sm */
@media (max-width: 992px) {
    #verticalSplitter {
        width: 0;
    }
}



.moveWelcomeLeft {
    animation: moveWelcomeLeft 1.0s 1 forwards;
}

@keyframes moveWelcomeLeft {
    from {
        transform: translateX();
    }
    to {
        transform: translateX(-50%);
    }
}

.moveWelcomeBack {
    animation: moveWelcomeBack 1.0s 1 forwards;
}

@keyframes moveWelcomeBack {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}